<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{%= title || name %} Test Suite</title>
  <script src="../libs/lodash/lodash.js"></script>
  <script src="../libs/jquery/jquery.js"></script>
  <script src="../libs/jquery-ui/ui/jquery.ui.widget.js"></script>
  <link rel="stylesheet" href="../libs/qunit/qunit/qunit.css" media="screen">
  <script src="../libs/qunit/qunit/qunit.js"></script>
  <script src="../libs/jquery-simulate/jquery.simulate.js"></script>
  <script src="../libs/qunit-test-utilities/testsuite.js"></script>
  <!-- Load local lib and tests. -->
  <script src="../src/{%= name %}.js"></script>
  <script src="{%= name %}_test.js"></script>
  <!-- Removing access to jQuery and $. But it'll still be available as _$, if
       you REALLY want to mess around with jQuery in the console. REMEMBER WE
       ARE TESTING A PLUGIN HERE, THIS HELPS ENSURE BEST PRACTICES. REALLY. -->
  <script>window._$ = jQuery.noConflict(true);</script>
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture">
    <!-- ADD TEST FIXTURE HTML HERE -->
  </div>
</body>
</html>
